<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EBM</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/mdb-bootstrap/css/mdb.min.css" rel="stylesheet" />
    <link href="~/lib/aos/aos.css" rel="stylesheet" />
    <link href="~/lib/toast-manager/toast.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="login-page">
    @RenderBody()    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/mdb-bootstrap/js/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/mdb-bootstrap/js/mdb.min.js"></script>
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/lib/toast-manager/toast.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript">

        $(document).ready(function () {
            AOS.init({
                duration: 1000,
                once: true
            });            
        });

        $(window).on('load', function () {
            AOS.refresh();
        });
    </script>
</body>
</html>
